{
	"presets": [
		"@babel/preset-env"
	],
	"plugins": [
		"@babel/plugin-syntax-dynamic-import",
		"@babel/plugin-proposal-async-generator-functions",
		"babel-plugin-transform-vue-jsx",
		"@babel/plugin-transform-runtime"
	]
}
